@using System.Configuration;
@model GalaxySignage.Models.Video

<tr>
    <td>
        <input type="checkbox" name="deleteInputs" id="deleteInputs" value="@Model.Id" />
    </td>
    <td>
        @Model.Name
    </td>
    <td>
        @Model.Duration
    </td>
    <td>
        @Model.Size
    </td>
    <td>
        @*<input type="button" id="Play" name="Play" value="Play" />*@
        @Html.ActionLink("Play", "Play", "Video", new { id = @Model.Id}, new { @class = "play-btn" })
    </td>
</tr>