@model GalaxySignage.Models.PageList
<div id='Paging' style="text-align:center">

    <ul class="pagination">
        @if (Model.MaxPageNo <= 3)
        {
            for (var i = 1; i <= Model.MaxPageNo; i++)
            {
                if (i == Model.curPage)
                {
                    <li class="active">@Html.ActionLink(i.ToString(), "Index", new { pageNo = i })</li>
                }

                else
                {
                    <li>@Html.ActionLink(i.ToString(), "Index", new { pageNo = i })</li>
                }

            }
        }

    </ul>
    <ul class="pagination">

        @if (Model.curPage == 1 && Model.MaxPageNo > 3)
        {
            <li class="active">@Html.ActionLink("1", "Index", new { pageNo = 1 })</li>
            <li>@Html.ActionLink(Model.NextPages[0].ToString(), "Index", new { pageNo = Model.NextPages[0] })</li>
            <li>@Html.ActionLink(Model.NextPages[1].ToString(), "Index", new { pageNo = Model.NextPages[1] })</li>
            <li>@Html.ActionLink(">>", "Index", new { pageNo = Model.NextPages[0] })</li>
            <li>@Html.ActionLink(Model.MaxPageNo.ToString(), "Index", new { pageNo = Model.MaxPageNo })</li>

        }

    </ul>
    <ul class="pagination">

        @if (Model.curPage == Model.MaxPageNo && Model.MaxPageNo > 3)
        {
            <li>@Html.ActionLink("1", "Index", new { pageNo = 1 })</li>
            <li>@Html.ActionLink("<<", "Index", new { pageNo = Model.PrevPages[0] })</li>
            <li>@Html.ActionLink(Model.PrevPages[1].ToString(), "Index", new { pageNo = Model.PrevPages[1] })</li>
            <li>@Html.ActionLink(Model.PrevPages[0].ToString(), "Index", new { pageNo = Model.PrevPages[0] })</li>
            <li class="active">@Html.ActionLink(Model.MaxPageNo.ToString(), "Index", new { pageNo = Model.MaxPageNo })</li>

        }

    </ul>
    <ul class="pagination">

        @if (Model.curPage != 1 && Model.curPage != Model.MaxPageNo && Model.MaxPageNo > 3)
        {
            <li>@Html.ActionLink("1", "Index", new { pageNo = 1 })</li>

            if (Model.PrevPages[0] != 0 && Model.PrevPages[0] > 0)
            {
                <li>@Html.ActionLink("<<", "Index", new { pageNo = Model.PrevPages[0] })</li>
            }

            for (var i = 2; i >= 0; i--)
            {
                if (Model.PrevPages[i] != 0 && Model.PrevPages[i] > 0 && Model.PrevPages[i] != 1)
                {
                    <li>@Html.ActionLink(Model.PrevPages[i].ToString(), "Index", new { pageNo = Model.PrevPages[i] })</li>
                }

            }

            <li class="active">@Html.ActionLink(Model.curPage.ToString(), "Index", new { pageNo = Model.curPage })</li>

            foreach (var nextplaylist in Model.NextPages)
            {
                if (nextplaylist != Model.MaxPageNo && nextplaylist < Model.MaxPageNo)
                {
                    <li>@Html.ActionLink(nextplaylist.ToString(), "Index", new { pageNo = nextplaylist })</li>
                }

            }

            <li>@Html.ActionLink(">>", "Index", new { pageNo = Model.NextPages[0] })</li>


            <li>@Html.ActionLink(Model.MaxPageNo.ToString(), "Index", new { pageNo = Model.MaxPageNo })</li>
        }

    </ul>

</div>
